<div>
  <div class="content">
    <h2 class="title">Make administration view</h2>
    <div>
      <table-nav
      (reportPreviousClick)="onPrevious($event)"
      (reportNextClick)="onNext($event)"
      [enablePrevious]="currentPage > 1"
      [enableNext]="currentPage < numberOfPages"></table-nav>

      <div class="search">
        <span class="fa fa-search"></span>
        <input
          #search
          (keyup)="0"
          placeholder="Search"/>
      </div>
    </div>
    <table>
      <tr class="table_head">
        <th (click)="toggleSortByName()">
          Name
          <span class="fa"
          [class.fa-sort-asc]="sort.nameAsc"
          [class.fa-sort-desc]="!sort.nameAsc"></span>
        </th>
        <th (click)="toggleSortByAbrv()">
          Abreviation
          <span class="fa"
          [class.fa-sort-asc]="sort.abrvAsc"
          [class.fa-sort-desc]="!sort.abrvAsc"></span>
        </th>
      </tr>
      <tr *ngFor="let make of (makes | searchFilter: search.value | orderBy: sortString)" (click)="openUpdateModal(make)">
        <td>{{make.name}}</td>
        <td>{{make.abbreviation}}</td>
      </tr>
      <tr *ngIf="!makes || makes.length == 0">
        <td colspan="2">No data to display</td>
      </tr>
    </table>
  </div>
  <div class="create_new" (click)="openCreateModal()">Create new</div>
  <make-details
    *ngIf="showModal"
    [data]="selected"
    (reportCreate)="onCreated($event)"
    (reportUpdate)="onUpdated($event)"
    (reportError)="onError($event)"
    (reportCancel)="onCanceled($event)"
    (reportDelete)="onDeleted($event)">
    </make-details>
</div>
