<div class="container">
  <div class="details">
    <span class="input_title">
      Name
    </span>
    <input
        #name
        [(ngModel)]="data.name"
        class="input"
        placeholder="Name"
        value="data.name"/>
    <span *ngIf="invalidName" class="error">
      This field is required
    </span>
    <span class="input_title">
      Abreviation
    </span>
    <input
        #abrv
        [(ngModel)]="data.abbreviation"
        class="input"
        placeholder="Abreviation"/>
    <span *ngIf="invalidAbrv" class="error">
      This field is required
    </span>
    <button
      class="btn cancel"
      value="Cancel"
      (click)="cancel()">
        Cancel
    </button>
    <button
      class="btn action"
      (click)="action()">
        {{actionString}}
    </button>
  </div>
</div>
