.header{
  position: fixed;
  z-index: 9999;

  width: 100%;
  height: 56px;
  background-color: #ecf0f1;
  box-shadow: 0 -5px 10px 5px darkgrey;

  /* Horizontal centering */
  text-align: center;
  /* Same value as height of the element, centers the text vertically */
  line-height: 56px;
  font-size: 27px;
  color: #333;
}

.links{
  width:  75%;
  display: inline-block;
  height: inherit;
  text-align: left;
}

.link{
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  height: inherit;
  color: #888;
}

.link:hover{
  color: white;
  background-color: #e74c3c;
}

.link:active{
  background-color: #AB2213;
}

.current-page{
  color: white;
  background-color: #e74c3c;
}

.current-page:hover{
  background-color: #c0392b;
}

.current-page:active{
  background-color: #AB2213;
}
