<div class="container">
  <div class="details">
    <div
      *ngIf="isUpdate"
      class="delete">
        <span
          (click)="clickDelete()"
          class="fa fa-trash"></span>
    </div>
    <span class="input_title">
      Name
    </span>
    <input
        #name
        class="input"
        [(ngModel)]="data.name"
        placeholder="Name"
        value="{{data.name}}"/>
    <span *ngIf="invalidName" class="error">
      This field is required
    </span>
    <span class="input_title">
      Abreviation
    </span>
    <input
        #abrv
        class="input"
        [(ngModel)]="data.abbreviation"
        placeholder="Abreviation"
        value="{{data.abbreviation}}"/>
    <span *ngIf="invalidAbrv" class="error">
      This field is required
    </span>
    <button
      class="btn cancel"
      value="Cancel"
      (click)="clickCancel()">
        Cancel
    </button>
    <button
      class="btn action"
      (click)="isCreate ? clickCreate() : clickUpdate()">
        {{actionString}}
    </button>
  </div>
</div>
